<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Post</title>
</head>
<body>
    <form action="/blog" method="post" >
        <label for="newTitle">Title: </label>
        <input type = "text" name="newTitle" />
        <br>
        <label for="newAuthor">Author: </label>
        <input type = "text" name="newAuthor" />
        <br>
        <label for="newDate">Date: </label>
        <input type = "date" name="newDate" />
        <br>
        <label for="newSummary">Summary: </label>
        <input type = "text" name = "newSummary" />
        <br>
        <label for="newContent">Blog: </label>
        <textarea name = "newContent" ></textarea>
        <button type="submit">Submit</button>
    </form>

    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
</body>
</html>